.input > div {
    float: bottom;
}

img {
    width: 50px;
    height: 50px;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body > div > div>div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
body > div >div>div:last-child{
    align-items: center;
    justify-content: center;
}

body>div>div>div>div:first-child{
    font-size: 30px;
    font-family: 楷体;
}
body>div>div>div>div:last-child>input{
    height: 30px;
}
input{
    background-color: rgba(255,255,255,0.3);

}