<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="example.pc.dao.IEquipmentMapper">

    <select id="getAll" resultType="example.pc.entity.Equipment">
        select * from equipment where status = 1
    </select>
</mapper>