<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="example.pc.dao.INewTypesMapper">

    <select id="getAllNewsTypes" resultType="java.lang.String">
        select news_type from news_types where status = 1
    </select>
</mapper>