.production{
    width: 275px;
    height: 300px;
    border: 1px solid #cccccc;
}
body>div>div:first-child{
    width: 100%;height: 130px;
}
.bg{
    background-image: url("../../img/ziye_8vqz.jpg");
    height: 160px;
    width: 1920px;
    position: relative;top: -30px;margin: 0 auto;z-index: -1
}
.bg>div{
    position: relative;top:20%;left:75%
}
.bg>div>span{
    font-size: 25px;color: white;
}
.tkp{
    position:relative;padding-top: 20px;padding-left:20%;
}
#allTypes{
    position: relative;left:20%;top: 30px;width: 600px;height: 30px;background-color: #07192f
}
.qwer{
    width: 1200px;height: 600px;position: relative;top: 50px;left: 17%
}
.qwer>ul{
    margin: 0px
}
#bootbar{
    clear: both;height: 25px;text-align: center; position: relative;margin-top: 100px; bottom: auto; width: 100%;
}